.adocao {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--cinzaclaro);
    padding: 0vw 5vw 5vw 5vw;
    margin-bottom: 2vw;
    border-radius: 5px;
}

section h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
    text-align: center;
    padding-bottom: 1vw;
}

.adocao img {
    width: 20vw;
    height: 15vw;
    padding-top: 5vw;
}

.blur {
    background-color: rgba(0, 0, 0, 0.3);
}

.cardAdocao {
    padding-left: 12vw;
    margin-bottom: 60vw;
}

.text_img1 {
    display: none;
    padding-right: 5vw;
}