.conteudo {
    display: flex;
    justify-content: space-between;
    height: 50vw;
    width: 100%;
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-size: 70vw;
}

.blur {
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 194, 231, 1));
}

form {
    font-size: 25px;
    width: 90%;
}

.formulario { 
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10vw;
    width: 25%;
    border: solid 3px var(--azul);
    border-radius: 40px;
    height: 53%;
    margin-left: 65%;
    display: flex;
    justify-content: center;
}

select, input, button {
    font-size: 25px;
    margin-top: 20px;
    width: 100%;
}

button {
    background-color: palevioletred;
    color: white;
    border: none;
    border-radius: 40px;
    height: 3vw;
    margin-top:2.5vw;
    font-family: "Papaya Sunrise";
    font-size: 1em;
}

button:hover{
    color: black;
}

form p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top:2vw;
    font-size: 1em;
}

hr {
    border: solid 3px #44cef9;
}

/* PÁGINA DE SERVIÇOS */

.conteudo_servicos {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15vw;
    padding: 1vw;
    margin: 1vw;
    align-items: center;
    text-align: justify;
}

.card:hover {
    background-color: lightcyan;
}

.card img {
    width: 5vw;
}

h2 {
    text-transform: uppercase;
    padding: 1vw;
    font-size: 1.3vw;
}

.card p {
    font-size: 18px;
}

.servicos {
    padding: 10px;
    display: flex;
    justify-content: center;
}

/* PÁGINA DE INFORMAÇÕES */
/* depois tem que redimencionar elas pra não ficarem tortas */

.informacoes {
    padding-bottom: 15px;
    padding-top: 1vw;
    display: flex;
    justify-content: center;
    /* height: 36vw; */
}

.conteudo_informacoes {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    /* background-color: indigo; */
}

.card_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 14vw;
    align-items: center;
    text-align: center;
}

.card_info img {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
}

.texto_info {
    display: none;
}

.impar {
    margin-top: 6vw;
    padding-top: 6vw;
}

.texto_info_abre {
    padding: 0.5vw;
    margin-top: 2vw;
    background-color: #FCFCFC;
    font-size: .9vw;
    border: solid 2px #50d8d7;
    border-radius: 10px;
}